export(MAP)
export(initialize_HDMoGATE)
export(learn_HDMoGATE)
export(learn_MoGATE)
export(mvGMM_pdf)
export(mvgaussian_pdf)
export(permute)
export(posterior_mvGMM)
export(sample_GLLiM)
export(sample_MoGATEParabola)
export(sample_mvGMM)
export(show_HDMoGATE_results)
export(solve_weighted_LASSOexpert)
export(solve_weighted_LASSOgating)
export(loggausspdf)
export(logsumexp)
export(gllim_inverse_dens)
